@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

.App-header {
  margin-top: 2vh;
  padding-bottom: 2vh;
  background-color: white;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1.5em;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-bottom: 1px solid 	rgba(211,211,211,0.5);
}

.Messages-list {
  height: 70vh;
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  margin-top: 0px;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
  align-items: center;
  border-top: 1px solid rgba(211,211,211,0.3);
  padding-top: 5px;
  padding-bottom: 5px;
}

.Messages-message.currentMember {
  
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(100, 149, 237);
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

form {
  display: flex;
  width: 90%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 10px;
  margin-top: 10px;
}

input {
  padding: 7px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid tomato;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

ul {
  padding-inline-start: 0;
}

.bold {
  font-weight: bold;
}
.messages-wrapper {
  overflow: scroll;
  width:100vw;
  scrollbar-width: none;
  padding-left: 20px;
  position: relative;
  margin-top: 0px;
  z-index: 1;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.hamburger {
  height: 22px;
  width: 22px;
  background-color: tomato;
  border-radius: 50%;
  padding: 10px;
  color: white;
}

.user-profile {
  height: 30px;
  width: 30px;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
}

.main-content{
  display: flex;
  flex-direction: row;
  height:80vh;
}
.menu{
  position: absolute;
  left: 0;
  width:80vw;
  height: 80vh;
  background-color: tomato;
  color: white;
  flex-grow: 3 ;
  text-align: center;
  z-index: 2;
}
.my-node-on-enter{
  transform: scale(0.0)
}
.my-node-on-enter-active{
  transform: scale(0.9)
}
.my-node-enter {
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
}

.my-node-on-exit {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.my-node-on-exit-active {
  opacity: .5;
  transition: opacity 300ms, transform 300ms;
}
.my-node-exit {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}


